/*
COLOR PALETTE

DARKEST #439abc
LIGHTER DARK #68afca
MEDIUM #8dc3d8
LIGHTER LIGHT #cccccc
LIGHTEST #e6e6e6

font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;



*/

#header {
	background-color: #439abc;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	margin: 20px 0px;
}

#header h1 {
	text-align: center;
	color: #FFFFFF ;
}

#options {
	height: 30px;
}

.signup-form {
	margin: 100px;
}

.articles {
	margin-top: 15px;
	overflow: scroll;
	height: 800px;
}

.article {
	margin: 10px auto;
	background-color: #e6e6e6;
	padding: 10px;
}

.images {
	overflow: scroll;
	height: 800px;
}

.image {
	margin: 10px;
	background-color: #e6e6e6;
	padding: 20px;
}

h4 {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
}

a {
	color: #333;
	font-family: 'Lato', sans-serif;
}

.number {
	float: left;
	margin: 10px 0;
	margin-right: 20px;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
}

.number .ny {
	margin: 15px 0;
}

.article .nyfont h4 {
	font-size: 16px;
}





