<!DOCTYPE html>
<html>
<head>
	<title>Panda Content</title>
</head>
<body>

	<section id="options">
		<div class="row">
			<div class="col-xs-3">
				<h4>ng-options for article source</h4>
			</div>
			<div class="col-xs-9">
				<h4>ng-options for design source</h4>
			</div>
		</div>
	</section>



	<section id="content">
		<div class="row">
			
			<div class="col-xs-3 text-center">
				<section id="articles">
					<div class="article" ng-repeat="post in ctrl.productHunt.posts">
						<a href="{{post.discussion_url}}"><h4>{{post.name}}</h4></a>
					</div>
				</section>
			</div>
						
			<div class="col-xs-9 text-center">
				<section id="images">
					<span ng-repeat="object in ctrl.dribble">
						<a href="{{object.html_url}}"><img ng-src="{{object.images.teaser}}" class="image" /></a>
					</span>
				</section>
			</div>
			
		</div>
	</section>


	<pre> {{ ctrl | json }} </pre>


</body>
</html>