<!DOCTYPE html>
<html>
<head>
	<title>Panda Content</title>
</head>
<body>

	<section id="options">
		<div class="row">
			<div class="col-xs-3">
				<form>
					<select ng-model="ctrl.apiOption" ng-options="option.label for option in ctrl.options"></select>
				</form>
			</div>
			<div class="col-xs-9">
				<form>
					<!-- <select ng-model="ctrl.apiOption" ng-options="option.label for option in ctrl.options"></select> -->
				</form>
			</div>
		</div>
	</section>

	<section id="content">
		<div class="row">
			
			<div class="col-xs-3 text-center">
				<section class="articles">			
					<div class="article" ng-repeat="post in ctrl.productHunt.posts" ng-show="ctrl.apiOption.selectedAPI === 0">
						<a href="{{post.discussion_url}}"><h4>{{post.name}}</h4></a>
						<a ng-click="ctrl.saveFavorite('article', post.name, post.discussion_url)">Favorite</a>
					</div>
					<div class="article" ng-repeat="hit in ctrl.genius.response.hits" ng-show="ctrl.apiOption.selectedAPI === 1">
						<a href="{{hit.result.url}}"><h4>{{hit.result.title}}</h4></a>
						<a ng-click="ctrl.saveFavorite('article', hit.result.title, hit.result.url)">Favorite</a>
					</div>
				</section>
			</div>
			
			<div class="col-xs-9 text-center">
				<section class="images">
					<span ng-repeat="object in ctrl.dribble">
						<a href="{{object.html_url}}"><img ng-src="{{object.images.teaser}}" class="image" /><a ng-click="ctrl.saveFavorite('design', object.images.teaser, object.html_url)">Favorite</a>
					</span>
				</section>
			</div>
			
		</div>
	</section>


</body>
</html>