<!DOCTYPE html>
<html>
<head>
	<title>Panda Content</title>
</head>
<body>

<section id="options">
	<div class="row">
		<div class="col-sm-4">
			<h4>ng-options for article source</h4>
		</div>
		<div class="col-sm-8">
			<h4>ng-options for design source</h4>
		</div>
	</div>
</section>



	<section id="content">
		<div class="row">
			
			<section id="articles">
				<div class="col-sm-4 text-center">
					<div class="article">
					</div>
					<div class="article">
						<button ng-click="ctrl.getProductHunt()">Call Product</button>
					</div>
				</div>
			</section>

			<section id="images">
				<div class="col-sm-8 text-center">
						<img src="../vanilla.png" class="image">
				</div>
			</section>

		</div>
	</section>


<pre> {{ ctrl | json }} </pre>


</body>
</html>